.inp{
    box-shadow: 0 0 5pt 0.5pt #D3D3D3;
    
    border: solid 1.5px #D3D3D3;
    width: 40vw;
    height: 7vh;
    border-radius: .7vh;
    font-size: 20px;
    padding-left: 4.3vw;
}

.inp:hover{
    border: 2px solid skyblue; 
}
textarea:focus,input:focus {
    outline: skyblue;
    border: 2px solid skyblue

  }



.location{
   position: relative;
   display: inline-block;
   left: 32px;
   top: 6px;
   font-size: 36px;
}
.search{
    position: relative;
    display: inline-block;
    top: 4px;
    right: 43px;
    font-size: 30px;
    cursor: pointer;
}

.secondBox{
   
    box-shadow: 0 0 5pt 0.5pt #D3D3D3;
    border: solid 1.5px #D3D3D3;
    padding: 13px;
    width: 42.5vw;
    min-height: 117vh;
    border-radius: .7vh;
    margin-left: -14px;
}

.pressure{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    padding-left: 20px;
    width: 300px;
    height: 70px;
    font-size: 19px;
    background-color: #F5FAFF;
    border-radius: 4px;
}


.weeklyData{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 50px;
    box-shadow: 0 0 5pt 0.5pt #D3D3D3;
    border: solid 1.5px #D3D3D3;
    border-radius: 6px;
    padding-left: 8px;
}
.weeklyData >div:hover{
    border: 5px solid skyblue; 
    width: 100px;
    display: flex;
    justify-content: center;
}
.day > img{
    width: 70px;
    height: 70px
}

